.h {
    background: var(--black);
    min-height: 3.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 5px;
}

.h_logo {
    color: var(--red);
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 700;
    user-select: none;
}

.h_nav {
    color: #AAA;
    font-family: 'Roboto';
}

.h_nav_link {
    margin-left: 9px
}

.h_nav_link:hover {
    color: white;
    cursor: pointer
}

@media screen and (min-width: 540px) {
    .h {
        flex-direction: row;
    }
}