* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    overflow-x: hidden;
    background: #078c84;
}

.m {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.m_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(5px);
    transform: scaleX(1.1);
    z-index: -1;
}

.m_container {
    border: 2px solid #43b4e6;
    background: #fdfdfdf0;
    height: 80vh;
    width: 40vw;
    padding: 5px;
    border-radius: 5px;
}

.m_container_login_title {
    font-family: 'Caveat', cursive;
    color: #000000a9;
    font-size: 2.9rem;
    text-align: center;
}

.m_container_login_subtitle {
    text-align: center;
    font-style: italic;
    color: #000000a9;
    font-size: 1.1rem;
}