:root {
    --red: #E50914;
    --black: #141414;
}

* {
    box-sizing: border-box;
}

body {
    background: var(--black);
    width: 100vw;
    overflow-x: hidden;
    margin-bottom: 10px;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
}

.pre-icon {
    margin-right: 10px;
}