:root {
    --red: #E50914;
    --black: #141414;
}

* {
    box-sizing: border-box;
}

b {
    background: var(--black)
}

.container {
    padding-left: 20px;
    padding-right: 20px;
}

.pre-icon {
    margin-right: 10px;
}