body {
    background: #a7a7a7;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
}

.memo {
    position: relative;
    width: 50vw;
    height: 50vw;
    background-color: rgb(20, 20, 20);
    border-radius: 50%;
    display: grid;
    grid-template-areas: 
        "red green"
        "blue yellow"
    ;
    padding: 20px;
    gap: 10px;
}

.memo_start {
    position: absolute;
    top: calc(50% - 4.5vw);
    left: calc(50% - 4.5vw);
    z-index: 2;
    width: 9vw;
    height: 9vw;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 9px solid rgb(20,20,20);
    background-color: rgb(58, 58, 58);
    cursor: pointer;
}

.memo_start:active {
    background-color: tomato;
}

.memo_btn {
    border: none;
    opacity: .2;
    cursor: pointer;
    /* -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent; */
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.memo_btn:focus-visible {
    user-select: none;
    outline: none;
}

.active {
    opacity: 1;
}

#red {
    grid-area: red;
    background-color: red;
    border-top-left-radius: 100%;
}

#green {
    grid-area: green;
    background-color: green;
    border-top-right-radius: 100%;
}

#blue {
    grid-area: blue;
    background-color: rgb(0, 60, 255);
    border-bottom-left-radius: 100%;
}

#yellow {
    grid-area: yellow;
    background-color: yellow;
    border-bottom-right-radius: 100%;
}

#msg {
    position: absolute;
    top: 0px;
    right: 0px;
    background: gray;
    padding: 30px 30px 30px 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom-left-radius: 50px;
    animation: fade 4s forwards
}

@keyframes fade {
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}